
.Bio-card {
    display: block;
    border-radius: $border-radius;
}

.Bio-card-inner {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: $border-radius;

    &:hover {
        background: rgba(0,0,0,0.2);
        color: inherit !important;

        .Block--background-medium &,
        .Block--background-light & {
            background: rgba(0,0,0,0.15);
        }
    }
}

.Bio-card-image {
    position: relative;
    margin: 0 auto;
    padding-top: 100%;
    border-radius: 50%;
    background: {
        repeat: no-repeat;
        position: center;
        size: cover;
    }
}

.Bio-card-header {
    padding-left: 1rem;
    line-height: 1.3;
}

.Bio-card-content {
    padding-left: 1rem;
    @include font-size(16);
}

.Bio-card-name {
    @include font-size(20);
    font-weight: 600;
}

.Bio-card-title {
    @include font-size(16);
}

.Bio-card-org {
    @include font-size(16);
}
