
.Block {

}

.Block-top-button {
    display: block;
    margin: 0;
    padding: 1rem;
    width: 100%;
    text-align: center;
    background: rgba(255,255,255,0.1);
    color: #fff;

    &:hover {
        background: $red;
        color: #fff !important;
    }
}

.Block-container {
    padding: 1rem;

    @include bp-desktop {
        padding: 2rem;
    }

    &.Block-container--right {

        @include bp-desktop {
            float: right;
        }
    }
}

.Block--image {
    @extend .antialiased;
    position: relative;
    color: #fff;
    background: {
        repeat: no-repeat;
        position: center;
        size: cover;
    }
}

.Block--dark {
    @extend .antialiased;
    background: $blue-darker;
    color: $blue-very-light;

    .Entry-lede {
        color: #fff;
    }
}

.Block--blue {
    @extend .antialiased;
    background: $blue;
    color: #fff;
}

.Block--gray {
    background-color: #eee;
}

.Block--red {
    @extend .antialiased;
    background: $red;
    //background: #4DC7CE;
    color: #fff;
}

.Block--gradient {
    @extend .antialiased;
    //background-image: linear-gradient(to top, $blue-dark, $blue);
    background-image: linear-gradient(to top, $blue, #1DB5B1);
    color: #fff;
}

.Block-header {
    padding: 3rem 0 0;
    text-align: center;

    .Block--image & {
        position: relative;
        z-index: 1;
    }
}

.Block-header--image {
    @extend .antialiased;
    padding: 10rem 0;
    //border: 2rem solid #fff;
    background: {
        repeat: no-repeat;
        position: center;
        size: cover;
    }
}

.Block-header + .Block-body {
    padding-top: 2rem;
}

.Block-body,
.Block-content {
    padding: 2rem 0;

    .Entry {
        //padding: 0 4rem;
    }

    .Block--image & {
        position: relative;
        z-index: 1;
    }

    .Image {
        //margin: 2rem 0;
    }
}

.Block-title {
    @include large-caps;
    //@include font-size(36);

    .Block--image & {
        color: #fff;
    }/*

    .Block-header--image & {
        color: #fff;
    } */
}

.Block-footer {
    padding: 2rem 0;
}
