
.Buckets {

}

.Bucket {
    text-align: center;
    background: {
        repeat: no-repeat;
        position: center;
        size: cover;
    }
}

.Bucket-link {
    display: block;
    padding: 2rem;
    text-decoration: none;
    color: inherit;

    .Buckets--rounded & {
        border-radius: $border-radius;
    }
}

a.Bucket-link:hover {
    background-color: rgba(0,0,0,0.25);
    color: #fff !important;
}


.Bucket-icon {
    display: inline-block;
    text-align: center;
}

.Bucket-header {

}

.Bucket-supertitle {
    @include large-caps;
}

.Bucket-title {
    @include font-size(20);
    font-weight: 600;
}

.Bucket-meta {
    @include font-size(18);
    line-height: 1.3;

    small {
        @include caps;
    }
}
