
.Card {

}

.Card--shadow {
    box-shadow: $box-shadow;
}

.Card--rounded {
    border-radius: $border-radius;
    overflow: hidden;
}

.Card--hover-shadow {
    transition: box-shadow 0.15s ease;

    &:hover {
        box-shadow: $box-shadow;
    }
}

.Card + .Card {
    margin-top: 1rem;

    @include bp (min-width, $bp-2) {
        margin-top: 2rem;
    }
}

.Card-link {
    display: block;
    text-decoration: none;
    color: #fff;

    &:hover {
        color: #fff !important;
    }
}

.Card-header {
    display: table;
    min-height: 320px;
    background: {
        repeat: no-repeat;
        position: center;
        size: cover;
    }

    .flexbox & {
        display: flex;
        align-items: flex-end;
    }
}

.Card-content-inner {
    display: table-cell;
    vertical-align: bottom;
    padding: 1rem;
}

.Card-title {
    @include font-size(20);

    @include bp-desktop {
        @include font-size(24);
    }

    a {
        color: $text-blue;
        text-decoration: none;
    }
}

.Card-meta {
    @include font-size(14);

    @include bp-desktop {
        @include font-size(16);
    }
}

.Card-supertitle {
    //margin: 1rem 0;
    @include small-caps;

    @include bp-desktop {
        @include caps;
    }
}

.Card-headline {
    @include font-size(24);
    line-height: 1;
    font-weight: 600;

    @include bp-desktop {
        @include font-size(36);
    }
}

.Card-lede {
    //margin: 0.5rem 0 1rem;
    @include font-size(18);
    line-height: 1.3;
    font-weight: 400;

    @include bp-desktop {
        @include font-size(20);
        font-weight: 400;
    }

    em {
        font-style: normal;
        font-weight: 600;
    }
}
