
.Card {

}

.Card--shadow {
    box-shadow: $box-shadow;
}

.Card--rounded {
    border-radius: $border-radius;
    overflow: hidden;
}

.Card--hover-shadow {
    transition: box-shadow 0.15s ease;

    &:hover {
        box-shadow: $box-shadow;
    }
}

.Card + .Card {
    margin-top: 1rem;

    @include bp (min-width, $bp-2) {
        margin-top: 2rem;
    }
}

.Card-link {
    display: block;
}

.Card-header {

}

.Card-title {
    @include font-size(20);

    @include bp-desktop {
        @include font-size(24);
    }
}

.Card-meta {
    @include font-size(14);

    @include bp-desktop {
        @include font-size(16);
    }
}

.Card-content {

}
