
.Events {

}

.Event {
    padding: 0 0 1rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);

    .Block--image & {
        color: #fff;
    }

    &:last-child {
        border-bottom: none;
    }

}

.Event-header {
    padding: 1rem 0 0;

    @include bp-desktop {
        padding: 2rem 0;
    }
}

.Event-meta {
    padding: 0.5rem 0 0;
}

.Event-date {
    display: block;
    @include font-size(16);
    font-weight: 600;

    @include bp-desktop {
        @include font-size(18);
    }
}

.Event-location {
    @include font-size(16);
    line-height: 1;

    @include bp-desktop {
        @include font-size(18);
    }
}

.Event-title {
    @include font-size(48);
    line-height: 1;
    font-weight: 100;

    a {
        text-decoration: none;
        color: #fff;

        .Block--text-dark & {
            color: $text;
        }

        /* &:hover {
            color: #fff !important;

            .Block--text-dark & {
                color: $text !important;
            }
        } */

        svg {
            display: inline-block;
            vertical-align: middle;
            width: 1.5rem;
            height: 1.5rem;
            fill: inherit;

            .Block--text-light & {
                fill: #fff;
            }
        }

        &:hover svg {
            fill: $link-active !important;
        }
    }

    @include bp-desktop {
        @include font-size(56);
    }
}

.Event-content {
    padding: 1rem 0;
    border-top: 1px solid #fff;
    border-color: rgba(255,255,255,0.5);
}
