

.Form {

}

.Form-label {
    display: block;
    @include sans;
    @include font-size(15);

    .Form-input + & {
        margin-top: 0;
    }
}

.Form-label--hidden {
    @extend .visuallyhidden;
}

.Form-label-description {
    @include sans;
    @include font-size(13);
    color: $text-medium;
}

.Form-input {
    border: none;
}

.Form-input--text {
    display: block;
    padding: 0.5rem;
    width: 100%;
    border: 1px solid #999;

    @include placeholder {
        @include sans;
        @include font-size(15);
        line-height: 1;
    }
}

.Form-input--select {
    display: block;
    border: 1px solid #999;
    width: 100%;
    @include sans;
    @include font-size(15);
    line-height: 1;
}

.Form-buttons {

    * + * {
        margin-top: 0;
    }

}

.Form-search {
    position: relative;
}

.Form-search-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 3rem;
    text-align: center;

    svg {
        display: inline-block;
        vertical-align: middle;
        width: 1.5rem;
        height: 1.5rem;
        fill: $red;
    }

    span {
        @extend .visuallyhidden;
    }
}

.Form-input--textarea {
    padding: 1rem;
    width: 100%;
    border: 1px solid #999;
    @include sans;
}

.Form-button {
    display: block;
    padding: 0.5rem;
    width: 100%;
    @include sans;
    text-align: center;
    border-radius: $border-radius;
    text-decoration: none;
    color: $text;

    + .Form-button {
        margin-top: 0.5rem;
    }

    &:hover {
    }
}

.Form-input--submit {
    @extend .antialiased;
    padding: 1rem;
    width: 100%;
    @include font-size(18);
    background: $text-blue;
    color: #fff;

    &:hover {
        background: $link-active;
    }
}

.Form-checkbox {
    margin-right: 0.25rem;
}
