
.Modal {
    position: fixed;
    z-index: 999;
    top: -100%;
    right: 0;
    left: 0;
    padding: 4rem 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: $blue-deep;
    background: rgba(4, 38, 70, 0.95);
    transition: opacity 0.15s;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    /**
     * Transition state: re-position
     */
    .State--modal-transition & {
        top: 0;
    }

    /**
     * Active state: make visible
     */
    &.Modal--active {
        top: 0;
        opacity: 1;
    }

    html.csstransforms3d & {
        top: 0;
        transform: translate3d(0,-100%,0);
    }

    html.csstransforms3d .Modal--transition & {
        transform: translate3d(0,0,0);
    }

    html.csstransforms3d .Modal--active & {
        transform: translate3d(0,0,0);
    }
}

.Modal-content {
    @extend .antialiased;
    display: table;
    width: 100%;
    height: 100%;
    transition: all 0.25s ease;
}

.Modal-center {
    display: table-cell;
    vertical-align: middle;
}
