
/**
 * The profile modal.
 */
.Profile {
    color: $text-blue;
}

.Profile-inner {
    padding: 1rem;
    background: #fff;
    border-radius: $border-radius;
}

.Profile-image {
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: {
        repeat: no-repeat;
        position: center;
        size: cover;
    }
}

.Profile-header {
    padding-left: 3rem;
}
