
/*
|--------------------------------------------------------------------------
| Viewport breakpoints
|--------------------------------------------------------------------------
*/

$bp-1: 321;
$bp-2: 768;
$bp-3: 1000;

@mixin bp-mobile() {
    @include bp(max-width, $bp-2 - 1) {
        @content;
    }
}

@mixin bp-desktop() {
    @include bp(min-width, $bp-2) {
        @content;
    }
}
